<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.mgr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="com.project.mgr.permission.C2D_MESSAGE" 
        android:protectionLevel="signature" />
    
    <uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.project.mgr.Controller"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.project.mgr.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.LoginActivity" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name="com.project.mgr.fragments.tabs.SwipeTabs" >
        </activity>
        <activity 
            android:name="com.project.mgr.fragments.tabs.TakePhotos"
            android:screenOrientation="landscape"></activity>
        <activity android:name="com.project.mgr.fragments.tabs.PreviewAudio"></activity>
        <activity android:name="com.project.mgr.fragments.tabs.PreviewGif"></activity>
        <activity android:name="com.project.mgr.fragments.tabs.PreviewGifPlayer"></activity>
        <activity android:name="com.project.mgr.fragments.tabs.GIFEncoder"></activity>
		<activity android:name="com.project.mgr.fragments.tabs.FilesUploader"></activity>
		<activity android:name="com.project.mgr.MainActivityGCM"></activity>
		<activity android:name="com.project.mgr.RegisterActivity"></activity>
		<activity android:name="com.project.mgr.GCMIntentService"></activity>
		<activity android:name="com.project.mgr.Controller"></activity>
		<activity android:name="com.project.mgr.Config"></activity>
		
		<receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.project.mgr" />
            </intent-filter>
            
        </receiver>
        <service android:name="com.project.mgr.GCMIntentService" />
	</application>

</manifest>
